/*COLORS*/
$bg-home: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);
$color-purple-300: #633BBC;

/*FONTS*/
$font:  'Rubik', sans-serif;

$title-color: rgba(0, 0, 0, 0.64);
$subtitle-color: rgba(0, 0, 0, 0.88);