@import '../config/variables';

body {
    width: 100vw;
    height: 100vh;
    font-family: $font;
    letter-spacing: -0.02em;
    background:$bg-home;

    display: grid;
    place-content: center;
}