@import '../config/variables';

@mixin info__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $title-color;
}

@mixin info__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $subtitle-color;
}

@mixin info__code {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: $subtitle-color;
}

#ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 32px;
    gap: 24px;
    border-radius: 24px;
    background: #FFFFFF;

    .flightInfo {
        width: 327px;
        height: 191px;
        border-radius: 24px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.32);

        .container__number__date {
            width: 263px;
            height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 32px;
            gap: 24px;


            .flight__number,
            .flight__data {

                .title__info {
                    @include info__title;
                }

                .subtitle__info {
                    @include info__subtitle;
                }
            }
        }

        .container__departure__arrival {
            width: 263px;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 32px;
            gap: 10px;
            isolation: isolate;

            .departure,
            .arrival {

                .departure__info,
                .arrival__info {
                    @include info__title;

                }

                .departure__time,
                .arrival__time {
                    @include info__subtitle;
                }

                .departure__code,
                .arrival__code {
                    @include info__code;

                }
            }
        }
    }
}